@font-face {
    font-family: Whitney;
    src: url(whitneysemibold.otf);
}

/* remove underline from button */
.content a {
    text-decoration: none;
}

.wrapper {
    border-radius: 4px;
    padding: 16px;
    width: 432px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box 
}

/* prevent user from highlighting */
.userSelectNone {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none 
}

.header {
    font-weight: 700;
    margin-bottom: 12px;
}


.content {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap 
}

element {
    background-image: url(https://cdn.discordapp.com/icons/573954110454366214/a_fc6c9b276f716f536a196331ea990133.gif?size=512);
}

.icon {
    background-position: 50%;
    background-size: 100% 100%;
    border-radius: 15px;
    width: 50px;
    height: 50px 
}

.buttonFlex {
    flex-direction: column;
    justify-content: center 
}

.status {
    margin-right: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.smallText {
    font-size: 12px;
    line-height: 16px;
}

.button.buttonSize {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px 
}

.button {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    align-self: center;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

h3,h5 {
    margin: 0;
    font-size: 100%;
}

body {
    margin: 0;
}

 button {
    font-weight: 500;
    cursor: pointer 
}

 body {
    line-height: 1;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #36393f;
}
